:root {
    /*--Colors--*/
    --clr-background: hsl(233, 47%, 7%);
    --clr-card-background: hsl(244, 38%, 16%);
    --clr-accent: hsl(277, 64%, 61%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-main-p: hsla(0, 0%, 100%, 0.75);
    --clr-stat-h: hsla(0, 0%, 100%, 0.6);

    --ff-heading: 'Lexend Deca', sans-serif;
    --ff-p: 'Lexend Deca', sans-serif;

    --fw-700: 700;
    --fw-400: 400;

    --fs-800: 1.750rem;
    --fs-600: 1.5rem;
    --fs-400: 0.938rem;
    --fs-200: 0.750rem;
}

@media (min-width: 1080px) {
    :root {
        --fs-800: 2rem;
        --fs-600: 1.5rem;
        --fs-400: 0.938rem;
        --fs-200: 0.750rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* Utility class */

.accent {
    color: var(--clr-accent);
}

.flow * + * {
    margin-top: var(--flow-space, 1rem);
}

.mobile-hidden {
    display: none;
}

@media (min-width: 1080px) {
    .desktop-hidden {
        display: none;
    }

    .mobile-hidden {
        display: block;
    }
}

/* Style */

body {
    font-family: var(--ff-p);
    background-color: var(--clr-background);
}

.main-grid {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(1px, 80rem) minmax(1.5rem, 1fr);}

.card {
    grid-column: 2;
    justify-self: center;
    display: grid;
    grid-template-columns: minmax(1px, 654px);
    grid-template-areas: 
        'image'
        'content';
    background-color: var(--clr-card-background);
    border-radius: var(--br, 1rem);
    overflow: hidden;
    text-align: center;
    margin-block: 6rem;
}

.image {
    grid-area: image;
    position: relative;
}

.image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: hsla(277, 80%, 20%, .6);
    z-index: 10;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0;
    grid-area: content;
    padding-block: 2.250rem;
    padding-inline: clamp(1.5rem, 8vw, 3rem) ;
    --flow-space: 1.5rem;
}

.title {
    color: var(--clr-white);
    font-size: var(--fs-800);
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
}

.desc {
    color: var(--clr-main-p);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1.8;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--clr-white);
    font-size: var(--fs-600);
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    padding-top: 1rem;
}

.stat > span {
    display: block;
    color: var(--clr-stat-h);
    font-size: var(--fs-200);
    font-family: var(--ff-p);
    font-weight: var(--fw-400);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: .5rem;
}

.attribution {
    grid-column: 2;
    justify-self: center;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--clr-white);
}

.attribution > a {
    text-decoration: none;
}

@media (min-width: 1080px) {
    .main-grid {
        height: 100vh;
        align-items: center;
    }
    .card {
        grid-template-columns: repeat(2, minmax(1px, 540px));
        grid-template-areas: 
        'content image';
        text-align: start;
    }

    .stats {
        padding: unset;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .content {
        justify-content: space-between;
        padding: unset;
        padding: 4rem;
        padding-right: 6rem;
        --flow-space: 0;
    }

    .stats {
        padding-top: 2.5rem;
    }

    .stat {
        padding: 0;
        margin: 0;
    }
}